{# templates/marquepage/detail.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Détail d'un marque-page{% endblock %}

{% block body %}

    <h1>Détail d'un marque-page</h1>
    <table>
        <tr>
            <th>Libellé</th>
            <th>Valeur</th>
        </tr>
        <tr>
            <td>Id</td>
            <td>{{ marquepage.id }}</td>
        </tr>
        <tr>
            <td>Url</td>
            <td>{{ marquepage.url }}</td>
        </tr>
        <tr>
            <td>Date de création</td>
            <td>{{ marquepage.dateCreation|date('d/m/Y H:i:s') }}</td>
        </tr>
        <tr>
            <td>Commentaire</td>
            <td>{{ marquepage.commentaire }}</td>
        </tr>
        <tr>
        <td>Mots-clés</td>
        <td>
            {% for motCle in marquepage.motCles %}
                {{ motCle.libelle }}<br>
            {% endfor %}
        </td>
        </tr>
    </table>
    <a href="{{ path('app_marquepages') }}">← Retour à la liste</a>
{% endblock %}